body, html
{
	background-image: url('../data/images/bg.jpg');
	background-repeat: repeat;
	color: #FFFFFA;
	padding: 0px;
	margin: 0px;
}

/* the console font. */
@font-face
{
	font-family: "font_console";
	src: url('../data/fonts/pcsenior.ttf') format("truetype");
	
}

/* Title over the main display */
#title
{
	background-color: #FF3300;
	color: #FFFFFA;
	width: 200px;
	border-radius: 10px;
	border: 4px dotted #FFFFFA;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20pt;
	font-weight: bolder;
	font-family: monospace;
}

/* This one holds just everything. */
#content
{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

/* main window */
#pixiwindow
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 480px;
	background-color: #00AA00;
	
	border: 3px solid #003300;
	border-radius: 5px;
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* console window inside main window */
#jbashWindow
{
	position: absolute;
	width: 100%;
	background-image:url('../data/images/transblue_b.png');
	background-size: 4px auto;
/*	border: 1px solid #FF00FF;*/
	width: 640px;
	height: 350px;
	z-index: 10000;
	font-family: 'font_console', monospace;
	height: 350px;
	overflow-y: scroll;
	color: #FFFFFA;
	text-align: left;
	font-size: 12pt;
	font-weight: bold;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

#jBashInnerInput
{
	border: 0px;
/*	border: 2px solid #9999FA;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;*/
	position: absolute;
	margin-top: -12px;
	padding: 5px;
	height: 25px;
	width: 600px;
	font-size: 12pt;
	font-family: 'font_console', monospace;
	color: #FFFF99;
	background-color: transparent;
	/*background-image: url('../data/images/transwhite_b.png'); /* b for block */
	text-align: left;
}

/* set borders here to view the different buffers, also inside main window 
 	width and height are set in code by now. */
#GEdiBuf0
{
	/* border: 1px solid #FF0000; */
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	overflow: hidden;
}

#GEdiBuf1
{
	/* border: 1px solid #0000FF; */
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	overflow: hidden;
}

/* standard sprite settings. */
.sprite
{
	position: absolute;
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/*** Ein Agi */
.agi 
{	
	background-image: url('../data/images/spritesheet_agi.png');
	background-size: 400% auto;
	width: 64px;
	height: 64px;
	z-index: 100;
/*	border: 1px solid #FF00FF;	*/
}

/*** Rechtwärtiges Sprite für 16x16 zu 64x64 */

.right_1 {background-position: -8 -8;}
.right_2 {background-position: -76 -8;}
.right_3 {background-position: -152 -8;}

/***** Linkwärtiges Sprite für 16x16 zu 64x64 */

.left_1 {background-position: -8 -80;}
.left_2 {background-position: -76 -80;}
.left_3 {background-position: -152 -80;}

/*** Abwärtiges Sprite für 16x16 zu 64x64 */

.down_1{background-position: -8 -152;}
.down_2 {background-position: -76 -152;}
.down_3 {background-position: -152 -152;}

/*** Aufwärtiges Sprite für 16x16 zu 64x64 */

.up_1 {background-position: -8 -224;}
.up_2 {background-position: -76 -224;}
.up_3 {background-position: -152 -224;}


/**** Ein Herz-Sprite */
.heart
{
	background-image:url('../data/images/spritesheet_hearts.png');
	background-size: 500% auto;
	/*border: 1px solid #FF00FF;*/
	/* Image size is 12x12px */
	width: 48px;
	height: 48px;
	z-index: 200;
}

.empty {background-position: 0 0;}
.f1 {background-position: -48 0;}
.half {background-position: -96 0;}
.f3 {background-position: -144 0}
.full {background-position: -192 0}

/**** Ein default tile für den map editor. */
.tile_default
{
	background-image:url('../data/images/tile_default.png');
	background-size: 400% auto;
	/*border: 1px solid #FF00FF;*/
	/* Image size is 16x16px */
	width: 64px;
	height: 64px;
	
}
