
/* standard tile settings. */
.tile
{
	position: absolute;
	overflow: hidden;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	background-size: 100% auto;
	/*border: 1px solid #FF00FF;*/
	/* Image size is 16x16px */
	width: 64px;
	height: 64px;
}

/**** Ein default tile für den map editor. */
.ti_default_1 {background-image:url('../data/images/tiles/default/tile_default_1.png');}
.ti_default_2 {background-image:url('../data/images/tiles/default/tile_default_2.png');}
.ti_default_3 {background-image:url('../data/images/tiles/default/tile_default_3.png');}

